.desktop-1 {
  background: #ffffff;
  max-height: fit-content;
  max-width: fit-content;
  
}

.fernando-andrade-zqky-56-udc-sq-unsplash-1 {
  border-radius: 50px 50px 0px 0px;
  width: 344px;
  height: 509px;
  position: absolute;
  left: 125px;
  top: 1238px;
}
.image-3 {
  border-radius: 50px 50px 0px 0px;
  width: 344px;
  height: 509px;
  position: absolute;
  left: 548px;
  top: 1238px;
}
.svezia {
  color: #000000;
  text-align: left;
  font: 700 50px/90.6% "Helvetica Neue", sans-serif;
  position: absolute;
  left: 220px;
  top: 1720px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.colazione-con-il-pancake-solitamente-alla-marmellata-che-come-tutti-sanno-induce-assuefazione-e-sul-genere-di-una-crepe-fritta-da-ambo-le-parti-e-si-mangia-anche-con-la-panna {
  color: #000000;
  text-align: left;
  font: 400 16px "Helvetica Neue", sans-serif;
  position: absolute;
  left: 132px;
  top: 1800px;
  width: 337px;
}
.italia {
  color: #000000;
  text-align: left;
  font: 700 50px/90.6% "Helvetica Neue", sans-serif;
  position: absolute;
  left: 662px;
  top: 1720px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.la-pi-classica-delle-colazioni-consiste-in-una-bevanda-calda-caff-t-oppure-cappuccino-accompagnata-da-una-brioche-oppure-dei-biscotti {
  color: #000000;
  text-align: left;
  font: 400 16px "Helvetica Neue", sans-serif;
  position: absolute;
  left: 548px;
  top: 1800px;
  width: 344px;
}
.image-5 {
  border-radius: 50px 50px 0px 0px;
  width: 344px;
  height: 509px;
  position: absolute;
  left: 972px;
  top: 1238px;
}
.spagna {
  color: #000000;
  text-align: left;
  font: 700 50px/90.6% "Helvetica Neue", sans-serif;
  position: absolute;
  left: 1060px;
  top: 1720px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.il-pane-alla-catalana-o-pane-col-pomodoro-una-delizia-basta-strofinare-aglio-fresco-e-pomodoro-maturo-sul-pane-aggiungere-olio-extra-vergine-e-sale-e-il-gioco-fatto {
  color: #000000;
  text-align: left;
  font: 400 16px "Helvetica Neue", sans-serif;
  position: absolute;
  left: 995px;
  top: 1800px;
  width: 312px;
}
.group-2 {
  position: absolute;
  inset: 0;
}
.rectangle-4 {
  background: #292928;
  border-radius: 54px;
  width: 380px;
  height: 522px;
  position: absolute;
  left: 107px;
  top: 2158px;
}
.rectangle-6 {
  background: #292928;
  border-radius: 54px;
  width: 380px;
  height: 522px;
  position: absolute;
  left: 953px;
  top: 2158px;
}
.rectangle-5 {
  background: #292928;
  border-radius: 54px;
  width: 380px;
  height: 522px;
  position: absolute;
  left: 530px;
  top: 2158px;
}
.image-1 {
  width: 243px;
  height: 243px;
  position: absolute;
  left: 176px;
  top: 2067px;
}
.image-4 {
  width: 243px;
  height: 247.26px;
  position: absolute;
  left: 599px;
  top: 2067px;
}
.porridge {
  color: #ffffff;
  text-align: left;
  font: 700 48px/90.6% "Helvetica Neue", sans-serif;
  position: absolute;
  left: 198px;
  top: 2339px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.bagel {
  color: #ffffff;
  text-align: left;
  font: 700 48px/90.6% "Helvetica Neue", sans-serif;
  position: absolute;
  left: 655px;
  top: 2339px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.pancake {
  color: #ffffff;
  text-align: left;
  font: 700 48px/90.6% "Helvetica Neue", sans-serif;
  position: absolute;
  left: 1043px;
  top: 2339px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.il-porridge-un-piatto-ottenuto-facendo-bollire-in-acqua-o-latte-chicchi-macinati-schiacciati-o-tritati-di-alimenti-ricchi-di-amido-e-aromatizzati-a-piacere {
  color: #ffffff;
  text-align: left;
  font: 400 18px "Helvetica Neue", sans-serif;
  position: absolute;
  left: 145px;
  top: 2419px;
  width: 310px;
}
.il-bagel-o-beygel-una-pasta-lievitata-della-cucina-polacca-ed-ebraica-il-cui-impasto-una-ciambella-salata-viene-cotto-al-forno-dopo-una-breve-bollitura-in-acqua {
  color: #ffffff;
  text-align: left;
  font: 400 18px "Helvetica Neue", sans-serif;
  position: absolute;
  left: 567px;
  top: 2419px;
  width: 310px;
}
.il-pancake-un-dolce-tradizionale-per-la-prima-colazione-nell-america-settentrionale-e-con-molte-varianti-in-altre-parti-del-mondo {
  color: #ffffff;
  text-align: left;
  font: 400 18px "Helvetica Neue", sans-serif;
  position: absolute;
  left: 1006px;
  top: 2419px;
  width: 310px;
}
.image-6 {
  width: 243px;
  height: 240.26px;
  position: absolute;
  left: 1021px;
  top: 2067px;
}
.group-4 {
  position: absolute;
  inset: 0;
}
.rectangle-3 {
  background: #f3f3f3;
  width: 1440px;
  height: 205px;
  position: absolute;
  left: 0px;
  top: 2867px;
}
.facebook-app-symbol-1 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 1035px;
  top: 2957px;
}
.twitter-1 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 1107px;
  top: 2957px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.support-gabrielenotarrigo-abacatania-it {
  color: #000000;
  text-align: left;
  font: 400 14px "Helvetica Neue", sans-serif;
  position: absolute;
  left: 1005px;
  top: 3004px;
  width: 328px;
}
._2023-the-breakfast-lab-all-right-reserved {
  color: #000000;
  text-align: left;
  font: 400 14px "Helvetica Neue", sans-serif;
  position: absolute;
  left: 352px;
  top: 2979px;
  width: 364px;
}
.vector-1 {
  position: absolute;
  left: 305px;
  top: 2921px;
  overflow: visible;
}
.youtube-1 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 1179px;
  top: 2957px;
}
.icons-8-notion-50-1 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 1251px;
  top: 2957px;
}
.about {
  color: #000000;
  text-align: left;
  font: 500 16px "Inter", sans-serif;
  position: absolute;
  left: 352px;
  top: 2943px;
  width: 48px;
  height: 19px;
}
.benefits {
  color: #000000;
  text-align: left;
  font: 500 16px "Inter", sans-serif;
  position: absolute;
  left: 447px;
  top: 2943px;
  width: 65px;
  height: 19px;
}
.career {
  color: #000000;
  text-align: left;
  font: 500 16px "Inter", sans-serif;
  position: absolute;
  left: 559px;
  top: 2943px;
  width: 65px;
  height: 19px;
}
.support {
  color: #000000;
  text-align: left;
  font: 500 16px "Inter", sans-serif;
  position: absolute;
  left: 651px;
  top: 2943px;
  width: 65px;
  height: 19px;
}
.breakfast-1 {
  padding: 70px;
  margin-left: 50px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 40px;
  position: display;
}

.breakfast-12 {
  position: absolute;
  left: 0px;
  top: 200px;
  right: auto;
}

.the-breakfast-lab {
  color: #000000;
  text-align: left;
  font: 700 24px "Albert Sans", sans-serif;
  position: absolute;
  left: 646px;
  top: 31px;
  width: 148px;
}

.home {
  color: #000000;
  text-align: left;
  font: 500 16px "Inter", sans-serif;
  position: absolute;
  left: 298px;
  top: 65px;
  width: 48px;
  height: 19px;
}
.breakfast {
  color: #000000;
  text-align: left;
  font: 500 16px "Inter", sans-serif;
  position: absolute;
  left: 448px;
  top: 65px;
  width: 75px;
  height: 19px;
}
.contact {
  color: #000000;
  text-align: left;
  font: 500 16px "Inter", sans-serif;
  position: absolute;
  left: 916px;
  top: 65px;
  width: 75px;
  height: 19px;
}
.about2 {
  color: #000000;
  text-align: left;
  font: 500 16px "Inter", sans-serif;
  position: absolute;
  left: 1093px;
  top: 65px;
  width: 75px;
  height: 19px;
}
.rectangle-1 {
  position: absolute;
  left: 0px;
  top: 1024px;
  overflow: visible;
}
.rectangle-2 {
  background: #f3f3f3;
  border-radius: 40px;
  width: 456px;
  height: 34px;
  position: absolute;
  left: 492px;
  top: 1045px;
}
.search-here {
  color: #000000;
  text-align: left;
  font: 500 15px "Inter", sans-serif;
  position: absolute;
  left: 678px;
  top: 1053px;
}
.zoom-lens-1 {
  width: 17px;
  height: 17px;
  position: absolute;
  left: 905px;
  top: 1054px;
}
.dolce-o-salata-non-importa-la-colazione-il-vero-biglietto-da-visita-di-una-nazione-e-della-sua-cultura-e-questo-giro-del-mondo-mattutino-in-cinque-colazioni-ne-la-prova {
  color: #000000;
  text-align: left;
  font: 400 22px "Helvetica Neue", sans-serif;
  position: absolute;
  left: 90px;
  top: 374px;
  width: 473px;
  height: 116px;
}
.le-colazioni-nel-mondo {
  color: #000000;
  text-align: left;
  font: 700 64px/90.6% "Helvetica Neue", sans-serif;
  position: absolute;
  left: 90px;
  top: 229px;
  width: 507px;
}
.scopri-di-pi {
  color: #c19845;
  text-align: left;
  font: 400 16px "Helvetica Neue", sans-serif;
  position: absolute;
  left: 90px;
  top: 498px;
}

.the-breakfast-lab2 {
  color: #000000;
  text-align: left;
  font: 700 24px "Albert Sans", sans-serif;
  position: absolute;
  left: 98px;
  top: 2926px;
  width: 148px;
}